body {
  background-image: url(https://img.freepik.com/foto-premium/sfondo-nero-grunge-gradiente-texture-di-sfondo-chiaro-con-lo-spazio-utilizzato-come-sfondo-classico-di-lusso_1962-379.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-gosth {
  background-color: #154352;
}
